<h1>Recipes List</h1>

<% @recipes.each do |recipe| %>
  <section>
    <h2><%= recipe.title %></h2>
    <p><%= recipe.description %></p>
    <%= button_to "Remove", recipe, method: :delete, data: { confirm: "Are you sure?" } %>
  </section>
<% end %>
