<div class="container mt-5">
  <h1>Recipes List</h1>

<% if @recipes.present? %>
  <% @recipes.each do |recipe| %>
    <section>
      <h2><%= recipe.title %></h2>
      <p><%= recipe.description %></p>
      <%= link_to "More info", recipe_path(recipe) %>
      <%= button_to "Remove", recipe, method: :delete, data: { confirm: "Are you sure?" } %>
    </section>
  <% end %>
<% end %>
</div>
