<div class="container mt-5">
  <h1>Food List</h1>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>Food</th>
        <th>Measurement Unit</th>
        <th>Unit Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @foods.present? %>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name %></td>
            <td><%= food.measurement_unit %></td>
            <td>$<%= food.unit_price %></td>
            <td>
              <%= button_to "Remove", food, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4">
            <div class="alert alert-warning mt-3" role="alert">
              No foods available.
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
