<h1>Food List</h1>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Measurement Unit</th>
      <th>Unit Price</th>
    </tr>
  </thead>
  <tbody>
    <% if @foods.present? %>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td>$<%= food.unit_price %></td>
           <td>
            <%= button_to "Remove", food, method: :delete, data: { confirm: "Are you sure?" } %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
